form{
    width: 80%;
    margin: 20px auto;
}
div{
margin: 10px 0;
}

label{
width: 100%;
}

input{
    width: 50%;
}

.backBtn{
    width: 150px;
    background-color: aqua;
}
.addBtn{
    width: 150px;
    background-color: blue;
    color: white;
    margin-left: 20px;
}
